body {
    font-family: 'Parkinsans', sans-serif !important;
    background-color: #F4F7FC;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header h1 {
    font-size: 40px;
    color: #F4F7FC;
}

/* ENCABEZADO */
header {
    text-align: center;
    background-color: #263845;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header nav a {
    color: #FFCFEF;
}

header nav a:hover {
    color: #1abc22 ;
}

header p {
    color: #98a9ac;
    font-size: small;
}

header nav ul {
    list-style: none;
    padding: 0;
    color: #A8C7C7;
}

header nav ul li {
    display: inline;
    margin: 0 15px;

}

#perfil {
    max-width: 70%;

}

/* CARDS */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
    margin-bottom: 50px;

}

.card {
    width: 250px;
    height: 150px !important;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #263845 !important;
    color: white !important;
}

.card:hover {
    background: #263845 ;
    transform: scale(1.05);
    color:#1abc22 !important;
    transition: 0.3s ease;
}



/* Footer */
footer {
    text-align: center;
    padding: 25px;
    background-color: #263845;
    color: white;
    margin-top: 50px;
}

footer h3 {
    color: #FFCFEF;
    align-items: center;
}
footer a {
    color: #FFCFEF;
}

footer a:hover {
    color: #1abc22 ;
}
footer ul li{
    list-style-type: circle;
    display: inline;
    margin: 0 35px;
}

